/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Styles for the body */

body {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */





.resume-header {
    background-color: #FFFCF5;
	text-align: left;
	color: #3E3DCD;
	
	
	
	
}

.resume-main {
	background-color: #FFFCF5;
	color: #3E3DCD;
}

.resume-aside {
	background-color: #FFFCF5;
	color: #3E3DCD;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

.language-progress{
	
	background-color: #E87272
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
